# Default ignored files
/../../Money_Counter /.idea/shelf/
/../../Money_Counter /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Money_Counter /.idea/httpRequests/
# Datasource local storage ignored files
/../../Money_Counter /.idea/dataSources/
/../../Money_Counter /.idea/dataSources.local.xml
